seed: &seed 1031
log_path: ./log/
config_path: ./config/
weight_path: ../exp/
pred_path: ../exp/
data_path: ../data/
root: ../data/

datamodule: BirdCLEFDataModule

n_splits: &n_splits 5
epoch: 20

trainer:
  accumulate_grad_batches: 8
  fast_dev_run: False
  precision: bf16-mixed
  detect_anomaly: True

transform:
  name: get_default_transforms
  size: 256,256

strong_transform:
  name: resizemix
  params:
    alpha: 0.1
    beta: 0.5

train_loader:
  batch_size: 200
  shuffle: True
  num_workers: 8
  pin_memory: True
  drop_last: True

val_loader:
  batch_size: 200
  shuffle: False
  num_workers: 8
  pin_memory: True
  drop_last: False

model:
  name: Model
  backbone: convnextv2_tiny.fcmae_ft_in22k_in1k_384
  pool_type: avgmax
  in_chans: 1
  output_dim: 206

train_folds:
  - 0
  - 1
  - 2
  - 3
  - 4

TTA: False

# RAdamScheduleFree optimizer configuration

optimizer:
  opt: AdamWLegacy
  lr: 0.001
  weight_decay: 0.01
  caution: true

scheduler:
  sched: cosine
  num_epochs: 100
  min_lr: 0.0001
  warmup_epochs: 3
  warmup_lr: 0.0001
  warmup_prefix: true

loss:
  name: FocalLossBCE
  params:
      alpha: 0.25
      gamma: 2
      reduction: mean
      bce_weight: 1.0
      focal_weight: 1.0

early_stopping:
  patience: 4

stochastic_weight_avg:
  swa_lrs: 1e-4
  swa_epoch_start: 3
  annealing_epochs: 5


val:
  name: stratified_kfold
  params:
    id: filename
    target: primary_label
    n_splits: *n_splits
    random_state: *seed
    force_recreate: False

sampling:
  #  name: random_over_sample
  name: none
  params:
    random_state: *seed
